body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 164, 36);
}

body * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 46px;
    color: white;
}

.calc {
    padding: 8px;
    border-radius: 6px;
    background-color: rgb(59, 59, 59);
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    height: 350px;
}

.operator {
    background-color: rgb(41, 168, 143);
}

.option {
    background-color: rgb(71, 71, 71);
}

button {
    width: 25%;
    height: 20%;
    padding-right: 10px;
    border: none;
    text-align: right;
    background-color: rgb(99, 99, 99);
    outline: solid rgb(71, 71, 71, 0.5) 1px;
}

#display {
    padding: 10px;
    margin-bottom: 10px;
    height: 1.2em;
    text-align: right;
    background-color: rgb(0, 0 , 0, 0.05);
}

#footer {
    margin: 20px;
    padding: 0.5em 1em;
    font-size: 14px;
    background-color: rgb(59, 59, 59, 0.5);
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}